<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BOOK Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--Begin of Nav Bar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">All Books</a></li>
            <li><a href="/newBook">New Book</a></li>
        </ul>
    </div>
</nav>
<!--End of Nav Bar-->
<!--Begin of Switch Fields-->
<div class="container" th:switch="${mode}">
    <div th:case="BOOK_VIEW">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Purchase Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="book : ${books}">
                <tr>
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.bookName}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.purchaseDate}"></td>
                    <td><a th:href="@{/updateBook(id=${book.id})}"><div class="glyphicon glyphicon-pencil"></div></a></td>
                    <td><a th:href="@{/deleteBook(id=${book.id})}"><div class="glyphicon glyphicon-trash"></div></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <!--Book Edit Reference-->
    <div th:case="BOOK_EDIT">
        <form action="/save" method="POST">
                <input type="hidden" class="form-control" th:value="${book.id}" name="id" id="id">
            <div class="form-group">
                <label for="bookName">Book Name</label>
                <input type="text" class="form-control" th:value="${book.bookName}" name="bookName" id="bookName">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" th:value="${book.author}" name="author" id="author">
            </div>
            <div class="form-group">
                <label for="purchaseDate">Purchase Date</label>
                <input type="date" class="form-control" th:value="${book.purchaseDate}" name="purchaseDate" id="purchaseDate">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<!--End of Switch Fields-->
</body>
</html>